<div class="resume-main" id="resume" #screen>
  <div class="resume-body">
    <div class="resume-left">
      <div class="resume-left-main">
        <div class="left-row-image">
          <div class="left-image">
            <img src="../../assets/images/profile_.jpg" alt="" />
          </div>
          <div class="left-title">
            <div class="title-2">APICHAT LASUK</div>
            <div class="title-3">FULLSTACK DEVELOPER</div>
          </div>
        </div>
        <div class="left-row-personal-profile">
          <div class="left-personal-profile">
            <div class="personal-profile">
              <div class="profile-title">PERSONAL PROFILE</div>
              <div class="profile-detail">
                <ul>
                  <li>
                    Website development starts with design to respond to users
                    in organizations or other users.
                  </li>
                  <li>
                    Developing a beautiful front-end that is easy to use,
                    including back-end development that takes security.
                  </li>
                  <li>
                    Coding that is organized so that team members can read and
                    understand immediately.
                  </li>
                  <li>
                    Must constantly study and find new knowledge to be
                    beneficial for future development.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="left-row-contact">
          <div class="left-contact">
            <div class="email">
              <div class="email-title">
                <div class="email-icon"></div>
                <div class="email-text">apichatlasuk13&#64;gmail.com</div>
              </div>
            </div>
            <div class="email">
              <div class="email-title">
                <div class="tel-icon"></div>
                <div class="tel-text">062-248-8881</div>
              </div>
            </div>
            <div class="email">
              <div class="email-title">
                <div class="internet-icon"></div>
                <div class="internet-text">https://47.128.145.199/</div>
              </div>
            </div>
            <div class="map">
              <div class="map-title">
                <div class="map-icon"></div>
                <div class="map-text">
                  Maxxiprime Ratchada-Sutthisan No. 66/22 Soi. Hassadi Sewi,
                  Huay Kwang Subdistrict, Huai Khwang Bangkok 10310
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-row-languages">
          <div class="left-languages">
            <div class="languages">
              <div class="languages-title">LANGUAGES</div>
              <div class="languages-sub-title">
                <div class="title">English</div>
                <div class="text">
                  <div class="progress">
                    <div class="progress-value"></div>
                    <span class="tooltiptext">40%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-row-hobbies">
          <div class="left-hobbies">
            <div class="hobbies">
              <div class="hobbies-title">HOBBIES</div>
            </div>
            <div class="hobbies-detail">
              <div class="code-box">
                <div class="code"></div>
                <div class="code-text">Coding</div>
              </div>
              <div class="movie-box">
                <div class="movie"></div>
                <div class="movie-text">Watch a movie</div>
              </div>
              <div class="gym-box">
                <div class="gym"></div>
                <div class="gym-text">Exercise</div>
              </div>
              <div class="trip-box">
                <div class="trip"></div>
                <div class="trip-text">Travel</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-right">
      <div class="resume-right-main">
        <div class="right-row-education">
          <div class="title-box">
            <div class="right-education">
              <div class="title">EDUCATION</div>
            </div>
            <div class="line"></div>
          </div>
          <div class="right-title">
            <div class="title-1">University of Phayao</div>
            <div class="title-2">
              Computer Engineering School of Information And Communication
              Technology
            </div>
            <div class="title-3">
              <div class="box-year">
                <div class="year-start">2015</div>
                <div class="line"></div>
                <div class="year-end">2019, Phayao</div>
              </div>
            </div>
          </div>
          <div class="right-title">
            <div class="title-1">
              Dok Khamtai Wittayakhom School | Completed High Schoo
            </div>
            <div class="title-2">Science-Math</div>
            <div class="title-3">
              <div class="box-year">
                <div class="year-start">2013</div>
                <div class="line"></div>
                <div class="year-end">2015, Phayao</div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-row-work">
          <div class="title-box">
            <div class="right-work">
              <div class="title">WORK EXPERIENCE</div>
            </div>
            <div class="line"></div>
          </div>
          <div class="right-title">
            <div class="title-1">
              CIMB THAI BANK PUBLIC COMPANY LIMITED
            </div>
            <div class="title-2">Full Stack Developer</div>
            <div class="title-3">
              <div class="box-year">
                <div class="year-start">2023</div>
                <div class="line"></div>
                <div class="year-end">2025, Bangkok</div>
              </div>
            </div>
            <div class="title-4">
              <ul class="list">
                <li>
                  Develop both front-end (React) and back-end (Java
                  Springboot) and Database (Sql Server). Websites about
                  loan calculation for banks.
                </li>
                <li>
                  Package new version code to server for deployment.
                </li>
                <li>
                  Upload code to the UAT server using Linux operating
                  system and check the logs after deployment.
                </li>
              </ul>
            </div>
          </div>
          <div class="right-title">
            <div class="title-1">ENTRONICA CO.,LTD.</div>
            <div class="title-2">Full Stack Developer</div>
            <div class="title-3">
              <div class="box-year">
                <div class="year-start">2022</div>
                <div class="line"></div>
                <div class="year-end">2023, Bangkok</div>
              </div>
            </div>
            <div class="title-4">
              <ul class="list">
                <li>
                  Develop both front-end (Angular 13) and back-end (Java
                  Springboot, Node Js) and Database (Sql Server). Websites
                  related to purchasing or renewing packages in the AIS
                  mobile network system.
                </li>
                <li>
                  Pack new version code into the server for by gitlab.
                </li>
                <li>
                  Upload code to the UAT server using Linux operating
                  system. Use Jenkin to deployment the system through
                  scripting and check the logs after deployment.
                </li>
              </ul>
            </div>
          </div>
          <div class="right-title">
            <div class="title-1">CHIANG RAI TECHNOLOGY CO., LTD</div>
            <div class="title-2">Full Stack Developer</div>
            <div class="title-3">
              <div class="box-year">
                <div class="year-start">2019</div>
                <div class="line"></div>
                <div class="year-end">2022, Chiang Rai</div>
              </div>
              <div class="title-4">
                <ul class="list">
                  <li>
                    Develop both front-end (HTML Javascript Bootstrap css)
                    and back-end (Node Js) and Database (Mongo DB).
                    Websites about existing employee information or new
                    employees in the company.
                  </li>
                  <li>
                    Package new version code to server for by bitbucket
                    deployment.
                  </li>
                  <li>
                    Upload code to the UAT and Production server using
                    Linux operating system and check the logs after
                    deployment.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="right-row-skills">
            <div class="title-box">
              <div class="right-skills">
                <div class="title">SKILLS AND ABILITIES</div>
              </div>
              <div class="line"></div>
            </div>
            <!-- <div class="subtitle-box">
                  Front-end
              </div> -->
            <div class="right-title">
              <div class="box-skills">
                <div class="box-text">
                  <div role="html5" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 100"></div>
                  <div class="skills-text">HTML 5</div>
                </div>
                <div class="box-text">
                  <div role="javascript" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 100"></div>
                  <div class="skills-text">Javascript</div>
                </div>
                <div class="box-text">
                  <div role="css" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 90"></div>
                  <div class="skills-text">css 3</div>
                </div>
                <div class="box-text">
                  <div role="angular" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 80"></div>
                  <div class="skills-text">Angular</div>
                </div>
                <div class="box-text">
                  <div role="react" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 80"></div>
                  <div class="skills-text">React</div>
                </div>
                <div class="box-text">
                  <div role="flutter" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 80"></div>
                  <div class="skills-text">Flutter</div>
                </div>
              </div>
            </div>
            <!-- <div class="subtitle-box">
                  Back-end
              </div> -->
            <div class="right-title">
              <div class="box-skills">
                <div class="box-text">
                  <div role="nodejs" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 90"></div>
                  <div class="skills-text">Node Js</div>
                </div>
                <div class="box-text">
                  <div role="springboot" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 90"></div>
                  <div class="skills-text">Spring Boot</div>
                </div>
                <div class="box-text">
                  <div role="golang" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">Go</div>
                </div>
                <div class="box-text">
                  <div role="nestjs" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">Nest Js</div>
                </div>
              </div>
            </div>
            <!-- <div class="subtitle-box">
                  Database
              </div> -->
            <div class="right-title">
              <div class="box-skills">
                <div class="box-text">
                  <div role="mongodb" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 90"></div>
                  <div class="skills-text">Mongo DB</div>
                </div>
                <div class="box-text">
                  <div role="mysql" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 70"></div>
                  <div class="skills-text">My Sql</div>
                </div>
                <div class="box-text">
                  <div role="sqlserver" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 70"></div>
                  <div class="skills-text">Sql Server</div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-row-skills">
            <div class="title-box">
              <div class="right-skills">
                <div class="title">OTHER SKILLS</div>
              </div>
              <div class="line"></div>
            </div>
            <div class="right-title">
              <div class="box-skills">
                <div class="box-text">
                  <div role="docker" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">Docker</div>
                </div>
                <div class="box-text">
                  <div role="jenkin" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">Jenkin</div>
                </div>
                <div class="box-text">
                  <div role="gitlap" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">GitLap</div>
                </div>
                <div class="box-text">
                  <div role="github" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">GitHub</div>
                </div>
                <div class="box-text">
                  <div role="bitbucket" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
                  <div class="skills-text">Bitbucket</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>